.ClientsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  //border: 1px solid #000;
  width: 300px;
  height: 500px;
  overflow-y: scroll;
  margin-left: 30px;

  &-item {
    border: 1px solid black;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;

    &.isActive {
      background-color: darkblue;
      color: white;
    }
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}