.App {
  &-content {
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
    margin: 20px;
  }

  &-clientsList {
    padding-right: 40px;
  }

  &-clientsDetail {
    padding-top: 80px;
    min-width: 30vw;
    width: 100%;
  }
}